<h2>Hello Index!</h2>
<hr/>
<div class="react-element" data-react-component="RegistrationWizard" data-react-props="<%= {}.to_json %>"></div>
<hr/>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec sed odio dui. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis.</p>
